<app-adminheader></app-adminheader>
<div class="container">
  <h2 style="color: #1A4683;font-weight:600;">Post Lca</h2>
  <form #f="ngForm" (ngSubmit)="onSubmit()" action="" method="post" target="_top">
  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">{{errorMessage}}</div>
  <div class="col-sm-12 form-group">
 
 
    <label for="lca-lcaname">Post Lca<span class="asterisk">*</span></label>
    <input  type="text" 
    class="form-control" 
    id="lca-lcaname" 
    [(ngModel)]="post.lcaname" 
    name="lcaname" 
    placeholder="Lca Name"
   style="display:none;">

    
    
 <br>

<input type="file" (change)="fileEvent($event)" />
   <!-- <div class="subsection">
        <h4>Upload Status:</h4>
        <div class="indent">
          <span class="monospace result">{{uploadStatus}}</span>
        </div>
      </div> -->
<br>

  <label for="lca-status"> Status<span class="asterisk">*</span></label>
       <select id="lca-status" name="Status" class="form-control input-md" [(ngModel)]="post.status" aria-placeholder="Status">
        <option value="" disabled="disabled" selected="selected"></option>
        <option value=1 selected="selected">Open</option>
        <option value=2 selected="selected">Paused</option>
        <option value=3 selected="selected">Closed</option>
      </select>

<br>
  </div>
 <input class="btn btn-default" type="submit" class = "btn btn-lg btn-primary" style="margin-left:10px;" ng-click="onSubmit()" value="Submit">

</form>
</div>
<br>

<app-adminfooter></app-adminfooter>