<header id="header">

  <div class="menu-area">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">



          <a class="navbar-brand" href="index.html"><img [src]="LOGO" class="logo" alt="logo"></a>
 <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-left" style="padding-left:120px;">
	       <li><a [routerLink]="['/postajob']">POST A JOB</a>
       <li><a [routerLink]="['/lca']">POST AN LCA</a>
        <li><a [routerLink]="['/newsevents']">NEWS EVENTS</a>
        <li><a [routerLink]="['/resume']">RESUME</a>
         <li><a [routerLink]="['/contactus']">PUBLIC MESSAGES</a>
        <li><a  [routerLink]="['/createadminuser']">CREATE ADMINUSER</a> 
        <li><a  [routerLink]="['/adminlogin']">LOGOUT</a> 
        
      </ul>
    </div>
        </div>
      </div>
    </nav>
  </div>
  <!-- END MENU -->
</header>
