<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                    <h3> About US </h3>
                    <p>Spruce Infotech is a leading information technology firm that provides varied services to help clients change manage and transform their businesses by means of high quality, 
                      innovative and cost effective solutions.</p>
                    
                </div>
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                    <h3> Company </h3>
                    <ul>
                        <li><a href="http://spruceinfotech.myinetpage.com/company.html">About Us</a></li>
                        <li><a href="http://spruceinfotech.myinetpage.com/company.html#clients">Clients</a></li>
                        <li><a href="http://spruceinfotech.myinetpage.com/testimonials.html">Testimonials</a></li>
                        <li><a href="http://spruceinfotech.myinetpage.com/diversity.html">Diversity</a></li>
                        <li><a href="http://spruceinfotech.myinetpage.com/culture.html">Culture</a></li>
                        <li><a href="http://spruceinfotech.myinetpage.com/news.html">News&Events</a></li>
                        <li><a href="http://spruceinfotech.myinetpage.com/location.html">Locations</a></li>    
                    </ul>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-4 col-xs-6">
                    <h3> JobSeeker </h3>
                    <ul>
                        <li> <a href="http://spruceinfotech.myinetpage.com/browseitjobs.html"> Browse IT Jobs </a> </li>
                        <li> <a href="/resume"> Submit Resume </a> </li>
                        <li> <a href="http://spruceinfotech.myinetpage.com/employeebenefits.html"> Employee Benifits </a> </li>
                        <li> <a href="http://spruceinfotech.myinetpage.com/labor.html"> Labour Condition Applications </a> </li>
                    </ul>
                </div>
                
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> SOCIAL LINKS  </h3>
            
                    <ul class="social">
                        <li> <a href="https://www.facebook.com/pages/Spruce-Infotech/472937142877837"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="https://twitter.com/spruceinfotech"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="#"> <i class="fa fa-google-plus">   </i> </a> </li>
                      <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
                           <li><a data-toggle="tooltip" data-placement="top" title="Linkedin" class="soc_tooltip"  href="https://www.linkedin.com/company/spruce-infotech-inc" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright &copy; 2009 <span style="color:#1A4683">Spruce Infotech.com</span>, All Rights Reserved Powered  by <a href="http://suthratech.com" rel="nofollow" target="_blank">Suthra Technologies Inc</a> </p>
            <div class="pull-right">
               <!-- <ul class="nav nav-pills payments">
                	<li><i class="fa fa-cc-visa"></i></li>
                    <li><i class="fa fa-cc-mastercard"></i></li>
                    <li><i class="fa fa-cc-amex"></i></li>
                    <li><i class="fa fa-cc-paypal"></i></li>
                </ul>-->
            </div>
        </div>
    </div>

