      <nav class="navbar navbar-default navbar-fixed-top">
           
    <div class="container-fluid">
      <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                   <span class="icon-bar"></span>
                </button>
       <a class="navbar-brand" href="http://spruceinfotech.myinetpage.com/img/logo.png"><img src="http://spruceinfotech.myinetpage.com/img/logo.png"></a>
           </div>
            
         <div id="navbar" class="navbar-collapse collapse">
         <ul class="nav navbar-nav">
           <li><a href="http://spruceinfotech.myinetpage.com/index.html">HOME</a></li>
                 
           <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">JOB SEEKER<span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="http://spruceinfotech.myinetpage.com/browseitjobs.html">Browse IT Jobs</a></li>
				      	<li><a href="/resume">Submit Resume</a></li>
				      	<li><a href="http://spruceinfotech.myinetpage.com/employeebenefits.html">Employee Benefits</a></li>
				       	<li><a href="http://spruceinfotech.myinetpage.com/labor.html">Labor Condition Applications</a></li>						
                  </ul>
                </li>
                   
                  <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">SERVICES <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="http://spruceinfotech.myinetpage.com/servicesdetails1.html">Oracle EPM (Hyperion) implementation</a></li>
                    <li><a href="http://spruceinfotech.myinetpage.com/servicesdetails2.html">Business Intelligence</a></li>
                    <li><a href="http://spruceinfotech.myinetpage.com/servicesdetails3.html">Data warehousing</a></li>
                    <li><a href="http://spruceinfotech.myinetpage.com/servicesdetails4.html">Enterprise Data Management</a></li>
                    <li><a href="http://spruceinfotech.myinetpage.com/servicesdetails5.html">Data Governance</a></li>
				          	<li><a href="http://spruceinfotech.myinetpage.com/servicesdetails6.html">Mobile Application Development</a></li>
				           	<li><a href="http://spruceinfotech.myinetpage.com/servicesdetails7.html">Enterprise Web Application Development</a></li>
				           	<li><a href="http://spruceinfotech.myinetpage.com/servicesdetails8.html">Salesforce</a></li>
				          	<li><a href="http://spruceinfotech.myinetpage.com/servicesdetails9.html">Infrastructure</a></li>
				          	<li><a href="http://spruceinfotech.myinetpage.com/servicesdetails10.html">Managed Services</a></li>
				          	<li><a href="http://spruceinfotech.myinetpage.com/servicesdetails11.html">IT Staff Augmentation</a></li>
				           	<li><a href="http://spruceinfotech.myinetpage.com/servicesdetails12.html">MSP</a></li>
				           	<li><a href="http://spruceinfotech.myinetpage.com/servicesdetails13.html">Outsourcing</a></li>
				          	<li><a href="http://spruceinfotech.myinetpage.com/servicesdetails14.html">Training</a></li>
		              </ul>
                   </li> 
              
                  <li><a class="dropdown dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" routerLink="#" routerLinkActive="active">COMPANY</a>
                    
                       <ul class="dropdown-menu">
                      <li><a href="http://spruceinfotech.myinetpage.com/company.html">About Us</a></li>
                      <li><a href="http://spruceinfotech.myinetpage.com/company.html#clients">Clients</a></li>
                      <li><a href="http://spruceinfotech.myinetpage.com/testimonials.html">Testimonials</a></li>
                      <li><a href="http://spruceinfotech.myinetpage.com/diversity.html">Diversity</a></li>
                      <li><a href="http://spruceinfotech.myinetpage.com/culture.html">Culture</a></li>
                      <li><a href="http://spruceinfotech.myinetpage.com/news.html">NewsEvents</a></li>
                      <li><a href="http://spruceinfotech.myinetpage.com/location.html">Locations</a></li>                      
                      
                     
                    </ul>
                    
                    </li>

                    <li><a routerLink="http://spruceinfotech.myinetpage.com/contactus.html">CONTACT US</a></li>
                    
                  <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Account <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">Login</a></li>
                      <li><a href="#">Register</a></li>
                      <li><a routerLink="/blog-add">Create blog post</a></li>
                    </ul>
                  </li>-->
                </ul>
              </div><!--/.nav-collapse -->
            </div>
             
          </nav>