<app-publicheader></app-publicheader>
<div class="container" style="padding-top:80px;width:70%;height:100%;text-align:justify;">
<article class="newsevents">
<p  style="font-size:22px" align="center">{{newsevents.title}} </p>
  <div class="post-content">
    <img src="{{newsevents.imagename}}"
         class="img-responsive">
    </div>
      <div class="post-description">
   <p style="font-size:19px"> {{newsevents.shortdescription}}</p>
    </div>
  <div class="post-long">
    <p style="font-size:19px">{{newsevents.longdescription}}</p>

  </div>
  	<p><a href="http://economictimes.indiatimes.com/tech/ites/revenues-of-it-companies-may-contract-3-this-year/articleshow/56301179.cms" target="_blank">Read More....</a></p>
</article>
</div>

<app-publicfooter></app-publicfooter>